.contactDelBtn {
  margin: auto;
  background-color: rgb(85, 197, 228);
  border: 1px solid black;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.contactDelBtn:hover {
  background-color: rgb(7, 86, 143);
  border: 2px solid rgb(46, 44, 42);
}
.contactName {
  margin-top: 4px;
  margin-bottom: 4px;
}
