.form {
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 350px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
}
.formItem {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-width: 400px;
  gap: 10px;
  margin-bottom: 15px;
}

.btn {
  font-size: 14px;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 120px;
  height: 40px;
  border: 1px solid rgb(49, 45, 45);
  border-radius: 4px;
  background-color: rgb(223, 222, 222);
}
