.logoutButton {
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(85, 197, 228);
  border: 1px solid black;
  margin-top: 5px;
}
.logoutButton:hover {
  background-color: rgb(7, 86, 143);
  border: 2px solid black;
}

.userMenu {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
